.svg-container {
    height: max-content;
    background-color: lightblue;
}

.land{
    fill: #22293C;
    stroke: #FFFFFF;
    stroke-width: 1px;
}

.land:hover{
    fill: #1652AB;
    stroke: #FFFFFF;
    stroke-width: 1px;
}

.country-tooltip{
    background: white;
    border-radius: 10px;
    padding-top: 20px;

    width:150px;
    height:fit-content;
    text-align: center;

    border: 1px solid #22293C;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
.country-tooltip p{
    width: 100%;
    font-family: 'Raleway';
    font-size: 20px;
}
