//constantes

$TIME_TRANSITION: 250ms;
$TRIP_TIPS_BLUE: #1652ab;
$TRIP_TIPS_GREY: #f5f5f5;
$TRIP_TIPS_DARK_BLUE: #22293c;
$TRIP_TIPS_DARK_BLUE_RGBA: rgba(34, 41, 60,0.96);

//pour les components register et login
.base-container{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 1.5em;
        margin-bottom: 0em;
        margin-top: 0.5em;
    }

    .logo {
      width: 20em ;
      margin-bottom: 1em;

      img{
          width: 100%;
          height: 100%;
      }
  }

    .content{
        display: flex;
        flex-direction: column;

        .form {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-group{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;
                margin-bottom: 1.2em;

                label{
                    font-size: 1.3em;
                }

                input[type=submit], input[type=text],input[type=password]{
                    margin-top: 5px;
                    min-width: 18em;
                    height: 40px;
                    padding: 0px 10px;
                    font-size: 1em;
                    background-color: $TRIP_TIPS_GREY;
                    border : 0;
                    border-radius: 5px;
                    transition: all $TIME_TRANSITION ease-in-out;
                    &focus {
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px $TRIP_TIPS_DARK_BLUE;
                    }

                    &.error{
                      background-color:rgba(167, 35, 35, 0.2);
                    }

                }

                .errorText{
                  align-self: center;
                  color: rgba(248, 16, 16, 0.836);
                  font-size: 0.8em;
                }
            }
        }
    }

    .footer{
        margin-top: 1.5em;

        .login-button {
            font-size: 1em;
            padding: 5px 20px;
            border: 0;
            background-color: $TRIP_TIPS_BLUE;
            color: #fff;
            border-radius: 3px;
            transition: all $TIME_TRANSITION ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #2386c8;
            }
            &:focus {
              outline: none;
            }
        }
    }

}

//Pour le carousel (component loginAndRegisterContainer)

.modalWindow{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background:$TRIP_TIPS_DARK_BLUE_RGBA;
  display: flex;
  position: absolute; 
  z-index: 97;

  &:focus {
    outline: none;
  }
  
}

.carouselLoginAndRegister {
    width: 27em;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    position: relative;
    z-index: 99;


    .containerLoginOrRegister {
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
      border-radius: 4px;
      position: relative;
      z-index: 99;
      width: 100%;
      height: 100%;
      padding: 17px 10px;
      overflow: auto;
    }
    .blue-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90%;
      background-color: $TRIP_TIPS_BLUE;
      width: 100%;
      position: absolute;
      right: -34%;
      border-radius: 6px;
      z-index: 98;
      transition: all $TIME_TRANSITION ease-in-out;
      cursor: pointer;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
  
      &.right {
        right: -40%;
        align-items: flex-end;
        &:hover {
          right: -45%;
        }
      }
      &.left {
        right: 40%;
        align-items: flex-start;
        &:hover {
          right: 45%;
        }
      }
  
      .text {
        font-size: 21px;
        font-weight: 500;
        color: #fff;
        margin-right: 3em;
        margin-left: 3em;
      }
    }
  }

  @media (max-width: 460px) {
    .modalWindow{
      height: 100vh;
      width: 200vw;
      left: 0;
      top: 0;
      display: flex;
      position: absolute; 
      z-index: 97;
    
      &:focus {
        outline: none;
      }
      
    }
  }
