//constantes

$TIME_TRANSITION: 100ms;
$TRIP_TIPS_BLUE: #1652ab;

// for Preview
.recommandationPreview{
    .title{
        font-size: 2em;
    }
    
    .content{
        font-size: 1.3em;
        color : rgba(0, 0, 0, 0.5);
        max-height: 50px;
        overflow: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
   }

   span{
       margin:0px;
   }
}


.favoriteButtonContainer{
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    background-color: white;
    .favoriteButton{
        border: none;
        background-color: white;

        .isNotFavorite{
            stroke: red;
            stroke-width: 2;
            fill: white;
            overflow: visible;

            &:hover{
                stroke-width: 3;
                transition-duration:100ms;
            }
        }

        .isFavorite{
            stroke: red;
            stroke-width: 2;
            fill: red;
            overflow: visible;
            &:hover{
                stroke-width: 3;
                transition-duration:100ms;
            }
        }
    }

}

.ratingMainContainer{
    height: 35px;
    max-height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .ratingContainer{

        .filledStar{
            fill: gold;
            stroke: black;
        }

        .unfilledStar{
            fill: rgb(250, 250, 250);
            stroke: black;
        }
    }
}


//for Detail 

.backgroundImageContainer{
    height: 300px;
    width: 100%;

    img{
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        min-height: 80%;
        
    }
}

.cardContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 1em !important;
    position: relative;

    h1{
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .favoriteButtonContainer{
        position: absolute;
        right: 30px;
        top: 30px;
        border: none;
        background-color: white;
        .favoriteButton{
            border: none;
            background-color: white;
    
            .isNotFavorite{
                stroke: red;
                stroke-width: 2;
                fill: white;
                overflow: visible;
    
                &:hover{
                    stroke-width: 3;
                    transition-duration:100ms;
                }
            }
    
            .isFavorite{
                stroke: red;
                stroke-width: 2;
                fill: red;
                overflow: visible;
                &:hover{
                    stroke-width: 3;
                    transition-duration:100ms;
                }
            }
        }
    }
    
    .recommandationAllContentContainer{
        display: flex;
        flex-direction: row;
        
        .leftContainer{
            width: 50%;
            display: flex;
            flex-direction: column;
            overflow: auto;

            .contentContainer{
                h3{
                    padding: 5px;
                }
                
                p{
                    font-size: 1.3em;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }

        .rightContainer{
            width: 50%;
            height: fit-content;
            border: 1px solid;
            border-radius: 20px;
            margin-left: 10px;

            .locationContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    padding: 5px 20px;

                    h4{
                        align-self: start;
                    }

                    .countryContainer{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        label{
                            width: 50%;
                            justify-self: start;
                        }

                        .country{
                            width: 50%;
                        }
                    }

                    .cityContainer{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        label{
                            width: 50%;
                            justify-self: start;
                        }

                        .city{
                            width: 50%;
                        }
                    }
            }

            .pricesContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-self: center;
                padding: 5px 20px;

                h4{
                    align-self: start;
                }

                .priceContainer{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    label{
                        width: 50%;
                        justify-self: start;
                    }

                    .price{
                        width: 50%;
                    }
                }
            }

            .ratingsContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    padding: 5px 20px;

                h4{
                    align-self: start;
                }
                .globalRatings{
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    label{
                        width: 50%;
                        justify-self: start;
                    }

                    .stars{
                        width: 50%;
                        .filledStar{
                            fill: gold;
                            stroke: black;
                        }
                
                        .unfilledStar{
                            fill: rgb(250, 250, 250);
                            stroke: black;
                        }
                    }
                }
                
            }
        }
    }
}


.reviewsContainer{

    margin-top:1em;
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    width: 80%;

    h2{
        padding: 10px;
    }

    .addReviewContainer{
        border: solid 4px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        h3{
            font-size: 1.5em;

        }

        .starsContainer{
            .stars{
                display: inline-block;
                padding: 15px 15px;
                border: 1px solid;
                cursor: pointer;
                .personnalFilledStar{
                    fill: red;
                    stroke: black;
                    cursor: pointer;
                }

                .personnalUnfilledStar{
                    fill: rgb(250, 250, 250);
                    stroke: black;
                    cursor: pointer;
                    :hover {
                        fill: red;
                    }
                }
            }
        }
        

        input{
            height: 50px;
            width: 50%;
            align-self: center;
            margin: 15px 0px;
        }

        .buttonAddReview{
            text-align: center;
            align-self: center;
            padding: 5px 20px;
            border: 0;
            background-color: $TRIP_TIPS_BLUE;
            color: #fff;
            border-radius: 3px;
            transition: all $TIME_TRANSITION ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: #2386c8;
            }
            &:focus {
              outline: none;
            }
            span{
                padding: 0px;
                margin: 0px;
            }
        }
    }
}


//for Review
.reviewAllContainer{
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 1px solid #282c34;
    
    .ReviewContainer{

        padding: 20px;
        position: relative;

        .reviewWriter{
            font-size: 1.1em;
            width: 50%;
            color: rgba(87, 77, 77, 0.836);
            text-align: left;
            margin-bottom: 1em;
        }

        .reviewRating{
            position: absolute;
            right: 0px;

            .stars{
                .personnalFilledStar{
                    fill: red;
                    stroke: black;
                }

                .personnalUnfilledStar{
                    fill: rgb(250, 250, 250);
                    stroke: black;
                }
            }
            
        }

        .reviewContent{
            margin-bottom: 20px;
        }

        .showMessageButton{
            font-size: 0.7em;
            position:absolute;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            border: 1px solid #282c34;
            border-radius: 20px 20px 0px 0px;
            border-bottom: none;
            padding-left: 5%;
            padding-right: 5%;
        }
    }


    .hidden{
        display: none !important;
    }

    .visible{
        display: flex !important;
    }

    .MessagesAllContainer{
        padding-top: 30px;
        padding-bottom: 50px;
        width: 100%;
        background-color: rgba(245, 238, 238, 0.548);
        position: relative;
        display: flex;
        flex-direction: column;

        .MessagesContainer{

            .listMessages{
                margin: 0px;
                padding: 0px;
                
                .message{
                    border: solid 1px;
                    margin-left: 15%;
                    margin-right: 15%;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .messageWriter{
                        text-align: left;
                    }

                    .messageContent{
                        text-align: center;
                    }

                }
            }
        }
        .newMessageInput{
            position: absolute;
            bottom: 0px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            border-bottom: none;
            width: 60%;
        }
        .newMessageButton{
            position: absolute;
            bottom: 0;
            right: 0;
            border-right:none;
            border-bottom: none;
            background-color: $TRIP_TIPS_BLUE;
            color: #fff;

            &:hover {
                background-color: #2386c8;
              }
              &:focus {
                outline: none;
              }
        }
    }
}